@import url('https://fonts.googleapis.com/css?family=Aleo');

body {
    width: 600px;
    margin: auto;
    font-family: 'Aleo';
    background-image: url('https://wallpapers.com/images/hd/nasa-image-of-jupiter-ur6rikbsqr7uw8q2.jpg');
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.imagencentrada {
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto; /* centra la imagen horizontalmente */
}

.content-wrapper {
    width: 700px;
    background-color: rgba(255, 255, 255, 0.8); /* transparencia */
    border-radius: 15px; /* esquinas redondeadas */
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* efecto de sombra */
    margin-top: 15px;
}

.custom-list-1 {
    list-style: none;
    padding-left: 0;
}

.custom-list-1 li {
    font-weight: bold;
}

.custom-list-1 a {
    font-weight: normal;
    text-decoration: none;
    color: #0000ff;
}
