/*.container {
    width: 900px;
    height: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    border: 1px solid #000;

}*/


.caja{

    width: 400px;
    height: 300px;
    box-sizing: border-box;
    margin: auto;
    
}

.caja1>.p {

   background-color: antiquewhite;
   border-color: #070707;
   border-width: 5px;
   padding-top: 5%;
   padding-left: 5%;
   border-style: dotted;
   margin: auto;
   text-align: center;
   font-family: 'Courier New', Courier, monospace;
   color:#00008B
   
   p {
    text-align: left;
    color: #00008B;
    padding-top: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

.caja2 {
   
    background-color: #f8cb05;
    border-color: #000000;
    border-left: #000000;
    border-width: 5px;
    border-style:solid;
    border-top-right-radius: 10%; 
    border-bottom-right-radius: 10%;
    border-left-width: 70px;
    padding-top: 0%;
    padding-left: 0%;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

    
.caja3 {
    
    background-color: #fa8072;
    border-style: groove;
    border-color: #d1866db4;
    border-radius: 5%;
    border-width: 20px;
    padding-top: 0%;
    padding-left: 53%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #00008B;

}

.caja4 {

    background-color: #A0D5A0;
    border-style:inset; 
    border-color:#006d18;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-width: 20px;
    padding-top: 0%;
    padding-left: 10%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}

.caja5 {
   
    background-color: #FFE4C4;
    width: 300px;
    height: 300px; 
    border-style:dashed;
    border-width: 7px;
    border-color: #f8cb05;
    border-radius: 200px;
    text-align: center;
    color: #ffffff;

}

.caja6 {

    background-color: #E6E6FA;
    border-style: outset;
    border-color: #00008B;
    border-width: 20px;
    padding-top: 10%;
    padding-left: 10%;

}

.caja7 {
 
    background: linear-gradient(red,rgb(255, 238, 0));
    background-color: #ff0000;
    border-style: solid;
    border-color: #ff0000;
    border-bottom-width: 20px;
    text-align: center;

}

.caja8 {
 
    background-color: #ffffff;
    border-style: solid;
    border-bottom-color: #ff0000;
    border-left-color:#0044ff;
    border-right-color: #006d18;
    border-top-color: rgb(247, 222, 5) ;
    border-width: 30px;
    padding-top: 0%;
    padding-left: 0%;
    text-align: left;
}

.caja9 {

    background-color: #ffffff;
    border-style:double;
    border-width: 30px;
    border-radius: 50px;
    border-color: #8541f3;
    padding-top: 10%;
    padding-left: 10%;
    text-align: center;
    
}