body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #6d0101;
    color: #fff9f1;
}

button {
    background-color: #4e0606;
    color: rgb(243, 242, 242);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #e6000c;
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#resultado div {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    min-width: 120px;
    display: inline-block;
    color: #6d0101;
}