
table {
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  td {
    width: 90px;
    height: 90px;
  }
  
  /* Colores alternados para las celdas */
  .black {
    background-color: #333;
    border-style:solid;
    border-color: #333;
  }
  
  .white {
    background-color: #fff;
    border-style:solid;
    border-color: #333;
  }
  