

  


.cuba {
    background: repeating-linear-gradient(#002a8f,
            #002a8f 20%,
            #fff 20%,
            #fff 40%);
    height: 150px;
    width: 250px;
    margin: 0;
}

.burkina {
    background: linear-gradient(180deg,
            #ef2b2d,
            #ef2b2d 50%,
            #009e49 0,
            #009e49);
    position: relative
}

.burkina-after {
    box-sizing: content-box;
    width: 250px;
    height: 150px;
    border: 2px, solid #887878;
    border-radius: 2px;
    position: absolute;
    content: "★";
    left: 0;
    margin-left: auto;
    right: 0;
    margin-right: auto;
    text-align: center;
    top: calc(50% - 26px);
    font-size: 36px;
    color: #fcd116
}

.guinea {
    box-sizing: content-box;
    width: 250px;
    height: 150px;
    border: 2px, solid #887878;
    border-radius: 2px;
    background: linear-gradient(
        to right, 
        #ce1126 33.33333%, 
        #fcd116 33.33333%, 
        #fcd116 66.66667%, 
        #009460 66.66667%)
}



.guinea_bissau {
    box-sizing: content-box;
    width: 250px;
    height: 150px;
    border: 2px, solid #887878;
    border-radius: 2px;
    background: linear-gradient(
        #fcd20e 50%, 
        #009e47 0);
}

.guinea_bissau__left_red {
  background: #cf0922;
  width: 45%;
  height: 100%;
  display: grid;
  place-items: center;
}

.guinea_bissau__estrella {
  width: 70px;
  height: 70px;
  background-color: black;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}


  
.bosnia {
  box-sizing: content-box;
  width: 250px;
  height: 150px;
  border: 2px solid #887878; /* Corrige la coma */
  background-color: #001e96;
  position: relative; /* Necesario para posicionar ::after */
}

.bosnia__triangulo {
  position: absolute;
  width: 0;
  height: 0;
}

.bosnia__triangulo::after {
  content: ''; /*si o si para que ::after funcione*/
  position: absolute;
  top: -72%;
  left: 35%;
  border: 142px solid transparent;
  border-left-color: #ffcc01; 
  transform: rotate(-45deg);
}

.bosnia__estrella__wrapper {
  filter: drop-shadow(25px 25px #fff) drop-shadow(25px 25px #fff)
    drop-shadow(25px 25px #fff) drop-shadow(25px 25px #fff)
    drop-shadow(25px 25px #fff) drop-shadow(25px 25px #fff)
    drop-shadow(25px 25px #fff) drop-shadow(25px 25px #fff);
}

.bosnia__estrella__wrapper > .estrella {
  width: 35px;
  height: 35px;
  margin: -20px 0px;
  background-color: white;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
