
  
  .botswana {
    box-sizing: content-box;
    width: 250px;
    height: 150px;
    border: 2px, solid #887878;
    border-radius: 2px;
    background-color: #6dabd2;
    display: grid;
    place-items: center;
  }
  
  .botswana::before {
    position: absolute;
    content: "";
    width: 250px;
    height: 40px;
    background-color: black;
    border-width: 10px 0 10px 0;
    border-color: white;
    border-style: solid;
  }

.bulgaria{

    background:linear-gradient(to bottom,
    #fff,
    #fff 33.33333%,
    #00966e 33.33333%,
    #00966e 66.66%,
    #d62612 66.66%,#d62612);
}


.alemania {
  background: linear-gradient(
    #000 33%, 
    #de0000 33%, 
    #de0000 67%,
    #ffcf00 0);
}


.paisesbajos {
    background: linear-gradient(#ae1c28 33.33%, white 33.33% 66.66%, #21468b 40px);
}

.luxemburgo {
    background: linear-gradient(#ef303e 33.33%, white 33.33% 66.66%, #00a4e1 33.33%);
}

