
* {
    height: 85%;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}


h1 {
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 20px;
}

p {
    color: black;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding:0;
}


div.azul {

    width: 100%;
    height: 30%;
    background-color: blue;
    padding-top: 0vh;

}

div.rojo {

    width: 50%;/*ancho*/
    height: 60%;/*largo*/
    background-color: red;
    float: left;
    padding-top: 10vh;
}

div.verde {

    width: 50%;
    height: 60%;
    padding-top: 10vh; /*para centrarlos todos*/
    background-color: green;
    float: right;
}

div.amarillo {

    background-color: yellow;
    height: 40%;
    width: 100%;
    padding-top: 10vh;
    clear: both;
}

/*botones*/

.botonderecha {

    width: 100px;
    height: 40px;
    padding-left: 10px;
    padding-top: 10px;
    margin: 5px;
    margin-top: 30px;
    margin-left: 150px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(51, 49, 61);
    border-radius: 5PX;
    float: inline-start;
    text-decoration: none;
}

.botonizquierda {

    width: 80px;
    height: 35px;
    padding-left: 13px;
    padding-top: 9px;
    margin: 5px;
    margin-top: 40px;
    margin-right: 900px;
    font-size: 15px;
    color: rgb(220, 211, 211);
    background-color: rgb(51, 49, 61);
    border-radius: 5PX;
    float: inline-start;
    text-decoration: none;
}

.botonizquierda:hover {

    background-color: rgb(160, 142, 126);
}

.botonderecha:hover {

    background-color: rgb(160, 142, 126);
}