* {
    height: 100%;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: white;
    text-align: center;
    font-size: 33px;
    padding: 20px;
}

p{
    color: black;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}

div.azul {
    background-color: blue;
    width: 100%;
    height: 30%;
}

div.rojo {
    background-color: red;
    width: 25%; 
    height: 90%; /*ancho y largo en relativos*/
    float: left; 
    padding-top: 35vh;
}

div.verde {
    background-color: green;
    width: 75%; /*para ocupar el espacio restante en la fila*/
    height: 45%; /* = mitad de la altura*/
    float: right; /*div verde alineado a la derecha*/
    padding-top: 10vh;
}

div.amarillo {
    background-color: yellow;
    width: 75%; 
    height: 45%; 
    padding-top: 10vh;
    float: right; /*div amarillo a la derecha*/
}
.botonderecha {

    width: 100px;
    height: 40px;
    padding-left: 10px;
    padding-top: 10px;
    margin: 5px;
    margin-top: 30px;
    margin-left: 150px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(51, 49, 61);
    border-radius: 5PX;
    float: inline-start;
    text-decoration: none;
}

.botonizquierda {

    width: 80px;
    height: 35px;
    padding-left: 15px;
    padding-top: 9px;
    margin: 5px;
    margin-top: 40px;
    margin-right: 900px;
    font-size: 15px;
    color: rgb(220, 211, 211);
    background-color: rgb(51, 49, 61);
    border-radius: 5px;
    float: inline-start;
    text-decoration: none;
}

.botonizquierda:hover {

    background-color: rgb(160, 142, 126);
}

.botonderecha:hover {
    
    background-color: rgb(160, 142, 126);
}