body {
    font-family: Arial, sans-serif;
    background-color: #53513d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

div {
    background-color: rgb(207, 204, 187);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    color: #7f8105;
    text-align: center;
    font-size: 24px;
}

p {
    text-align: center;
    font-size: 14px;
    color: #555;
}

label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #333;
}

label span {
    color: red;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 5px solid #7f8105;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #cfa004;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}

small {
    display: block;
    margin-top: 10px;
    color: #555;
    font-size: 12px;
    text-align: center;
}