@import url('https://fonts.googleapis.com/css?family=Merriweather');

/*He importado la letra de Google "Merriweather" para que poder usarla*/

body {
    font-family: "Merriweather", Arial, sans-serif;
    background-color: #53513d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


div {
    background-color: rgb(207, 204, 187);
    font-family: "Merriweather", Arial, sans-serif;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    color: #7f8105;
    text-align: center;
    font-size: 24px;
    font-family: "Merriweather", Arial, sans-serif;
}

p {
    text-align: center;
    font-size: 14px;
    font-family: "Merriweather", Arial, sans-serif;
    color: #555;
}

label {
    display: block;
    margin-bottom: 5px;
    font-family: "Merriweather", Arial, sans-serif;
    font-weight: bold;
    color: #333;
}

label span {
    color: red;
}

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="url"],

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 5px solid #9fa200;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Merriweather", Arial, sans-serif;
    box-sizing: border-box;
}

input[type="button"] {
    background-color: #cfa004;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: "Merriweather", Arial, sans-serif;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}

small {
    display: block;
    margin-top: 10px;
    color: #555;
    font-size: 12px;
    font-family: "Merriweather", Arial, sans-serif;
    text-align: center;
}

input[type="submit"]:hover { /*para cuando pinchemos o pasemos el cursor cambie de color, es un detallito, no me ha dejado poner comentarios con*/ 
    background-color: #969b06; 
    font-family: 'Merriweather';
  }