body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f6f4eb;
}

h1 {
  text-align: center;
  font-family:'Merriweather'; color: #f0eae0
}

.recuadro {
  background-color: #b4ab9a;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 30px 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

p {
  color: rgb(219, 0, 0);
  text-align: center;
  font-family: 'Merriweather'
}

form {
  font-family: 'Merriweather';
}

input[type="checkbox"] {
  margin-left: 5px;
}

label[for="términos"] {
  font-size: small;
}

input[type="submit"] {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #7b8003;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Merriweather';
}

input[type="submit"]:hover { /*para cuando pinchemos o pasemos el cursor cambie de color, es un detallito, no me ha dejado poner comentarios con*/ 
  background-color: #686b06; 
  font-family: 'Merriweather';
}
