.bandera {
  box-sizing: content-box;
    width: 250px;
    height: 150px;
    border: 2px, solid #887878;
    border-radius: 2px;
}

.reinounido {
  display: grid;
  place-items: center;
  overflow: hidden;
  position: relative;
  background: #213064;
}

.reinounido__dos {
  z-index: 1;
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 10px white) drop-shadow(10px 0 white)
    drop-shadow(-10px 0 white) drop-shadow(0 -10px white);
}

.reinounido__dos .dos {
  width: 100%;
  height: 100%;
  background-color: #e51837;
  clip-path: polygon(
    0% 43%,
    45% 43%,
    45% 0%,
    55% 0%,
    55% 43%,
    100% 43%,
    100% 58%,
    55% 58%,
    55% 100%,
    45% 100%,
    45% 58%,
    0% 58%
  );
}

.reinounido__x {
  position: absolute;
  inset: 0;
}

.reinounido__x > .x__raya-1,
.reinounido__x > .x__raya-2 {
  position: relative;
  background-color: rgb(255 255 255);
  height: 32px;
  transform: rotate(-28deg) scalex(1.3) translate(-30px, 73px);
}

.reinounido__x > .x__raya-2 {
  transform: rotate(28deg) scalex(1.3) translate(13px, 47px);
}

.reinounido__x > .x__raya-1::before,
.reinounido__x > .x__raya-1::after,
.reinounido__x > .x__raya-2::before,
.reinounido__x > .x__raya-2::after {
  position: absolute;
  background-color: #e51837;
  content: "";
  width: 50%;
  height: 10px;
}

.reinounido__x > .x__raya-1::before {
  bottom: 7px;
}

.reinounido__x > .x__raya-1::after {
  top: 7px;
  left: 50%;
}

.reinounido__x > .x__raya-2::before {
  bottom: 7px;
}

.reinounido__x > .x__raya-2::after {
  top: 7px;
  left: 50%;
}