.bandera {
    position: relative;
    width: 275px;
    height: 250px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
  
  .botswana {
    background-color: #6dabd2;
    display: grid;
    place-items: center;
  }
  
  .botswana::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 40px;
    background-color: black;
    border-width: 10px 0 10px 0;
    border-color: white;
    border-style: solid;
  }

.bulgaria{

    background:linear-gradient(to bottom,
    #fff,
    #fff 33.33333%,
    #00966e 33.33333%,
    #00966e 66.66%,
    #d62612 66.66%,#d62612)
}


.alemania {
    background: linear-gradient (black 33.33%, #de0000 33.33% 66.66%, #ffcf00 40px);
}


.paisesbajos {
    background: linear-gradient(#ae1c28 33.33%, white 33.33% 66.66%, #21468b 40px);
}

.luxemburgo {
    background: linear-gradient(#ef303e 33.33%, white 33.33% 66.66%, #00a4e1 33.33%);
}

