<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE menu SYSTEM "ej03.dtd">
<menu>

    <item>
        <nombre>Mazamorra</nombre>
        <precio moneda="EUR">8.50</precio>
        <tipo>Entrante</tipo>
        <categoria>Crema</categoria>
    </item>

    <item>
        <nombre>Ensalada Jerk</nombre>
        <precio moneda="EUR">12.00</precio>
        <tipo>Primer Plato</tipo>
        <categoria>Ensalada</categoria>
    </item>

    <item>
        <nombre>Chuleton de Buey</nombre>
        <precio moneda="EUR">25.00</precio>
        <tipo>Segundo Plato</tipo>
        <categoria>Carne</categoria>
    </item>

    <item>
        <nombre>Tiramisú</nombre>
        <precio moneda="USD">5.00</precio>
        <tipo>Postre</tipo>
        <categoria>Dulce</categoria>
    </item>
</menu>