body {

background-color: rgb(194, 188, 180);

}

.h1 {
    position: sticky;
    top: 0; /*fijar cabecera en borde superior*/
    z-index: 10; /*una capa encima de los demás elements*/
    padding: 10px;
    text-align: center;
    font-family: 'Aboreto', sans-serif;
}


table {
    
    border-collapse: collapse;
    margin: 20px auto;
    margin-top: 30px;
    width: 800px;
    height: 800px;
}
td {
    width: 50px;
    height: 50px;
    text-align: center; 
    vertical-align: middle;
    font-family: "Aboreto";
    font-size:x-large;
    color: #000000;
    background-color: rgba(137, 43, 226, 0);
    
}
.negro {
    background-color: black;
}
.blanco{
    background-color: white;
}