body { 
    margin: 40px;
    background-color: #aaa08f;
}

.h1 {
    font-family: "Aboreto";
    text-align: center;
}

.contenedor {
    width: 90%; /* Ancho relativo */
    max-width: 600px; /* Límite máximo */
    margin: 0 auto;
    border: 4vw solid #463721;
    border-radius: 2vw;
    background-color: #463721;
}

.tablero {
    width: 100%;
    border-collapse: collapse;
    font-family: "Aboreto";
}

thead th,
tfoot th {
    background-color: #b1a189;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    font-size: 1rem;
}

tbody .celda {
    width: 12.5%; /* 8 columnas */
    padding: 0;
    aspect-ratio: 1; /* Mantener cuadrados */
    background-color: #b3894e;
    color: #000;
}

tbody .celda-resaltada {
    background-color: #442803;
    color: #fff;
}

.indice-fila {
    text-align: center;
    background-color: #b1a189;
    color: #000;
    font-weight: bold;
    padding: 5px;
}
