body {
	background: hsl(35, 9%, 57%);
	font-family: 'Aboreto', sans-serif;
	
}

.h1 {
	position: sticky;
	margin-bottom: 5%;
	text-align: center;
	font-size: 15px;
	color: #333;
	background-color: transparent; 
}

.tablero {
	display: flex;
	flex-wrap: wrap;
	width: 600px;
	height: 600px;
	margin: auto;
	border: 1px solid #353131;
	border-radius: 10px;
	background-color: #534c3d;
	padding-left: 20px;
}

.casilla {
	flex: 0 0 calc(10% - 2px); /*Cada casilla ocupa el 10% del ancho del tablero*/
	aspect-ratio: 1; /*proporción cuadrada*/
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	color: #ffffff;
}

.negra {
	background-color: #353232;
}

.blanca {
	background-color: #ddd;
}