body {
	background: hsla(36, 70%, 70%, 0.25);
}

.tablero {
	width: 400px;
	margin: auto;
	padding: 40px;
	border: 1px solid #353131;
	border-radius: 10px;
  background-color: #534c3d;
}

.h2 {

    font-family: "Aboreto";
    text-align: center;

}

.row {

	display: flex;
}

.row div {

  flex-grow: 1;
aspect-ratio: 1;
}

.negro {
	background-color: #353232;
}

.blanco {
	background-color: #ddd;
}