* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column; /*contenido en columna*/
    justify-content: center; /*centra verticalmente*/
    align-items: center; /*centra horizontalmente*/
    height: 100vh;
    background-color: #f0f0f0;
}

.h1 {
    display: s;
    margin-bottom: 5%;
    text-align: center;
    font-family: 'Aboreto', sans-serif;
    font-size: 25px;
    color: #333;
    background-color: transparent; 
    width: 100%; /*ancho del contenedor*/
}

.tablero {
    display: flex;
    flex-wrap: wrap;
    width: 70vmin; /*Ajuste dinámico del tamaño*/
    height: 70vmin; /*Ajuste dinámico del tamaño*/
    background-color: #58545482;
}

.casilla {

    width: 10%; /*10 horizontales, para hacerle recuadro con borde para letras y números = 10%*/
    height: 10%; /*10 verticales = 10%*/ 
    background-color: #825d5d;
    text-align: center;
    font-size: x-large;
    color: rgb(208, 200, 190);
    padding-top: 3%;
    font-family: "Aboreto", "Sans Serif";
}

.negro {
	background-color: #2f2d2d;
}

.blanco {
	background-color: #ddd;
}