body { 
    margin: 5%;
    background-color: #aaa08f;
    font-size: 16px; /*esto es para mantener la escalabilidad*/
}
/*para usar fluid tengo que ajustar las medidas con unidades relativas, em, rem o vw y vh, */
.h1 {
    font-family: "Aboreto";
    text-align: center;
    font-size: 1.5rem; /*escalable*/
}

.contenedor {
    border: 4vw solid #463721;
    border-radius: 2vw;
    width: 90%; /*el tablero ocupa el 90% del ancho disponible*/
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(8, 1fr); /*columnas equitativas*/
    grid-template-rows: auto repeat(8, 1fr) auto; /*filas automaticas, celdas no*/
    grid-auto-flow: row;
}

.contenedor-interno {
    background-color: #aaa08f;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: auto;
    grid-auto-flow: row;
    align-items: stretch;
}

.celda {
    font-size: 1.2rem; /*escalable*/
    background-color: #b3894e;
    color: #000;
    text-align: center;
    aspect-ratio: 1; /*cuadrados*/
}

.celda-interna {
    text-align: center;
    align-self: center;
}

.superior, 
.inferior {
    display: grid;
    align-items: stretch;
    background-color: #b1a189;
    font-family: "Aboreto";
    font-size: 1rem; /*escalable*/
    padding: 0.5vw;
}

.superior {
    grid-column: 1 / -1;
    grid-row: 1;
}

.inferior {
    grid-column: 1 / -1;
    grid-row: -1;
}

/*celdas resaltadas*/
.celda-resaltada {
    background-color: #442803;
    color: #fff;
}
