body { 
    margin: 5%;
    background-color: #aaa08f;
}

.h1 {
    font-family: "Aboreto", sans-serif;
    text-align: center;
    font-size: 4vw; /*unidad fluid*/
}
/*@media para importar características*/
/*pantallas de 640px o más(móviles o tablets)*/
@media (min-width: 640px) {
    .contenedor-body {
        width: 90%;
        background-color: orange;
    }
}

/*para que se ajuste a pantallas de 768px o más*/
@media (min-width: 768px) {
    .contenedor-body {
        width: 80%;
        background-color: green;
    }
}

/*pantallas de 1024px o más*/
@media (min-width: 1024px) {
    .contenedor-body {
        width: 70%;
        background-color: blue;
    }
}

/*pantallas de 1280px o mayor*/
@media (min-width: 1280px) {
    .contenedor-body {
        width: 60%;
        background-color: red;
    }
}

.contenedor {
    border: 5vw solid #463721; 
    text-align: center;
    width: 80vw; /*basado en el ancho de la ventana*/
    height: 80vw; /*tamaño proporcional para mantener cuadrado*/
    margin: auto;
}
  
.contenedor-interno {
    background-color: #aaa08f;
    display: flex; 
    flex-wrap: wrap; /*esto sirve para asegurar que los elementos internos se ajusten */
    align-items: stretch;
}
  
.celda {
    background-color: #b3894e;
    height: 12.5%; /*altura del contenedor proporcional*/
    width: 12.5%; /*acho proporcional*/
    float: left;
    padding: 0;
    margin: auto;
}
  
.celda-interna {
    text-align: center;
    font-size: 2vw; /*tamaño para texto fluid*/
    align-self: center;
}
  
.superior, 
.inferior {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b1a189;
    font-family: "Aboreto", sans-serif;
    border-radius: 1vw; 
}
  

.celda-resaltada {
    background-color: #442803;
    color: #fff;
    height: 12.5%;
    width: 12.5%;
    float: left;
    margin: auto;
    text-align: center;
    box-sizing: border-box; /*incluye padding y borde*/
}

.contenedor {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 80vw;
    margin: auto;
    border: 5vw solid #463721; 
}

.izquierda, 
.derecha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b1a189;
    font-family: "Aboreto", sans-serif;
    border-radius: 1vw;
    width: 5vw; /* ancho de las columnas laterales */
}

.celda-vertical {
    text-align: center;
    font-size: 2vw;
    flex: 1; /* iguala la altura de las celdas */
    display: flex;
    justify-content: center;
    align-items: center;
}

.fila {
    display: flex;
}
.celda-lateral {
    width: 30px; /* Tamaño ajustable */
    text-align: center;
    font-weight: bold;
    color: #aaa08f;
}
.celda {
    width: 50px; /* Ajusta según el diseño */
    height: 50px;
}
