
.caja{
    width: 0px;
    height: 0px;
    margin: auto;
    box-sizing: border-box;
}
.figura1{
    border-style: solid;
    border-width: 50px;
    border-top-color: rgb(38, 0, 255);
    border-bottom-color: rgb(0, 255, 42);
    border-right-color: rgb(255, 238, 0);
    border-left-color: rgb(255, 0, 0);
}
.figura2{
    border-style: solid;
    border-width: 50px;
    border-top-color: rgb(0, 4, 255);
    border-bottom-color: rgb(9, 255, 0);
    border-right-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 0, 0);  
}
.figura3{
    border-style: solid;
    border-width: 50px;
    border-top-color: rgb(0, 4, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);  
}
.figura4{
    border-radius: 100px;
    border-style: solid;
    border-width: 50px;
    border-top-color: green;
    border-bottom-color: green;
    border-right-color: green;
    border-left-color: green;
}
.figura5{
    margin: auto;
    box-sizing: border-box;
    display: flex;
    width: 100px; 
    height: 50px;
    border-radius: 100px 100px 0px 0px;
    transform: rotate(270deg);
    background-color: green;
    align-items: center;
    display: flex;
    flex-direction: column;

}
.figura6{
    margin: auto;
    box-sizing: border-box;
    display: flex;
    width: 100px; 
    height: 50px;
    border-radius: 100px 100px 0px 0px;
    transform: rotate(180deg);
    background-color: green;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.button {
   
    padding: 10px 15px;
    margin: 500px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(135, 67, 86);
    border: none;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    
}

.button:hover {
    background-color: rgb(113, 33, 58);
}